body {
    background-color: rgb(255, 255, 200);
    font-family: sans-serif;
}

header {
    text-align: center;
    background-color: aqua;
}

.subtitle {
    background-color: aquamarine;
}

.content {
    display: inline-block;
}

.myskills {
    background-color: aquamarine;
}

.projectsdone {
    background-color: aquamarine;
}

.disclaimer {
    color: red;
}

.contactinfo {
    text-align: end;
    background-color: white;
}