body {
    background-color: rgb(255, 255, 200);
    font-family: sans-serif;
}

header {
    text-align: center;
    background-color: aqua;
}

.subtitle {
    background-color: aquamarine;
}

.content {
    display: inline-block;
}

