body {
    background-color: aqua;
    font-family: sans-serif;
}

header {
    text-align: center;
    background-color: aquamarine;
}

.mylinks {
    display: flex;
    flex-direction: column;
    text-align: end;
}

.subtitle {
    background-color: aquamarine;
}

.content {
    display: inline-block;
}

.myskills {
    background-color: aquamarine;
}

.projectsdone {
    background-color: aquamarine;
}

.mainprj {
    font-size: xx-large;
}

.img1 {
    height: 515px;
}

.img2 {
    height: 515px;
}

.img3 {
    height: 800px;
}

.disclaimer {
    color: red;
}

.contactinfo {
    text-align: end;
    background-color: white;
}

.contactlist {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1000px) {
    
}

@media screen and (min-width: 500px){
    
}